<style type="text/css">
.st-table  {border-collapse:collapse;border-spacing:0;}
.st-table td{font-family:Arial, sans-serif;font-size:14px;padding:5px 3px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.st-table th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.st-table tr{height:33px;}
/*Lineas*/
.st-table .st-entrada{text-align:right}
.st-table .st-pendiente{background-color:#ecf4ff;text-align:right}
.st-table .st-orden{background-color:#efefef;text-align:center}
.st-table .st-maquina{background-color:#efefef}
.st-table .st-suma_billetes{background-color:#efefef;text-align:right}
.st-table .st-total{background-color:#ecf4ff;text-align:right}
.st-table .st-diferencia{background-color:#ecf4ff;text-align:right}

/*Encabezados* y Totales*/

.st-table .st-dw4u{font-weight:bold;background-color:#efefef;color:#333333;text-align:right}
.st-table .st-o5kn{color:#32cb00;text-align:center;vertical-align:top}
.st-table .st-yzt1{background-color:#efefef;vertical-align:top}
.st-table .st-vh0g{background-color:#bbdaff;color:#000000}
.st-table .st-l7kw{background-color:#efefef;color:#cb0000;text-align:center;vertical-align:top}
.st-table .st-c7at{font-weight:bold;background-color:#efefef;text-align:right;vertical-align:top}
.st-table .st-ftxs{font-size:16px;background-color:#bbdaff;text-align:center}
.st-table .st-85oi{font-weight:bold;background-color:#ecf4ff;color:#333333;text-align:right;vertical-align:top}
.st-table .st-4und{font-size:16px;background-color:#bbdaff;text-align:center;vertical-align:top}
.st-table .st-il6h{background-color:#bbdaff;color:#000000;vertical-align:top}
.st-table .st-14nr{background-color:#bbdaff;text-align:center;vertical-align:top}
.st-table .st-y2da{background-color:#bbdaff;color:#333333;text-align:center}
.st-table .st-ltqa{background-color:#bbdaff;text-align:center}
.st-table .st-vuu7{background-color:#efefef;color:#32cb00;text-align:center;vertical-align:top}
.st-table .st-yw4l{vertical-align:top}
.st-table .st-bsv2{background-color:#efefef}
.st-table .st-ypb4{font-weight:bold;background-color:#efefef;text-align:right}
.st-table .st-l2oz{font-weight:bold;text-align:right;vertical-align:top}
.st-table .st-n1j6{font-weight:bold;background-color:#ecf4ff;text-align:right;vertical-align:top}

/*elementos de la tabla*/

table td{ padding: 0px 0; }
input
{
width: 100%;
padding: 0px;
margin: 0px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
border-style:none;
text-align:right;
}


@media screen and (max-width: 767px) {.st {width: auto !important;}.st col {width: auto !important;}.st-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}</style>
